<html>

<head>
    <title>YOLO Model as a Flask API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h1>알파벳 맞추기</h1>
<div class="agile-its">
    <h2>이미지 검출기</h2>
    <div class="w3layouts">
        <div class="view">    
            <span class="result"> 
                <center>
                <p>
                    <button type="button" onclick="location.href='/' ">뒤로가기</button>
                </p>
                <p>
                    {% if True %}
                    <img src="{{ url_for('static', filename = 'uploads/savefig_default.png' ) }}" alt="사진" width="400" height="400">
                    {% endif %} 

                </p>
                <h2>{{ ml_label }}</h2> 
            </center>
            </span> 
        </div>
    </div>
</div>
</body>

</html>