<!DOCTYPE html>
<html>
  <head>
    <title>Camera Video Streaming</title>
  </head>

  <body>
    <center>
    <h1>Correct</h1>
        
      <img src="{{ url_for('static', filename = 'correct/frame.png') }}" width="640" height="480" /> 
      
    <br>
    </br>
    <h2>Correct!</h2>
    <h3>{{ ml_label }}</h3> 
    <h3>The Answer is {{ml_label}}</h3> 
    <br>
    </br>
    <h3>{{ label }}</h3>
    <p>
      <button type="button" onclick="location.href='/question_list' ">뒤로가기</button>
  </p>
    </body> 
    </center>
    </body>
</html>
